.popup__item_el_about {
    margin: 0;
    padding: 0 0 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}