.popup__close-button {
    background: url(../../../images/CloseIcon.svg) center no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: 400px;
    margin-top: -74px;

}

.popup__close-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media (max-width: 320px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        margin-left: 222px;
        margin-top: -54px;
    }
}